<meta name="viewport" content="width=device-width, initial-scale=1" />
<title><%= siteTitle %></title>	
</style>
<link rel="stylesheet" href="<%= themeConfig.domain %>/styles/main.css">
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0/katex.min.css">
<script type='text/javascript' src='<%= themeConfig.domain %>/media/scripts/script.js'></script>
<% if (site.customConfig.ga) { %>
<script async src="https://www.googletagmanager.com/gtag/js?id=<%= site.customConfig.ga %>"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '<%= site.customConfig.ga %>');
</script>
<% } %>
<style type="text/css">
header {
    text-align: center;
    padding: 120px 0px 40px 0px;
    background: #515865 center no-repeat;
    font-size: 16px;
    color: #fff;
    background-size: cover;
    background-image:url(<% if (site.customConfig.sy) { %>
			<%= site.customConfig.sy %>
			<% } %>);
}
		</style>
