<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta HTTP-EQUIV="pragma" CONTENT="no-cache"> 
<meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate"> 
<meta HTTP-EQUIV="expires" CONTENT="0"> 
<title><%= siteTitle %></title>	

<link rel="stylesheet" href="<%= themeConfig.domain %>/styles/main.css">
<script type="text/javascript">
function getCSS()
{
        datetoday = new Date();
        timenow=datetoday.getTime();
        datetoday.setTime(timenow);
        thehour = datetoday.getHours();
<% if (site.customConfig.haks) { %>
        if (thehour<<%= site.customConfig.haks %>)
<% } %>
            display = "<%= themeConfig.domain %>/media/css/night.css";
<% if (site.customConfig.hajs) { %>
       else if (thehour><%= site.customConfig.hajs %>)
<% } %>
            display = "<%= themeConfig.domain %>/media/css/night.css";   
<% if (site.customConfig.haks) { %>
        else if (thehour><%= site.customConfig.haks %>)
     <% } %>      
            display = "<%= themeConfig.domain %>/media/css/day.css";
<% if (site.customConfig.hajs) { %>
        else if (thehour<<%= site.customConfig.hajs %>)
<% } %>
            display = "<%= themeConfig.domain %>/media/css/day.css";
      

var css = '<';
        css+='link rel="stylesheet" href='+display+' \/';
        css+='>';
        document.write(css);
}
</script>
<link href="https://fonts.googleapis.com/css?family=Dancing+Script|Noto+Sans+SC:300|Montserrat&display=swap" rel="stylesheet">
<link href="https://at.alicdn.com/t/font_1306644_jwtuc2zzbrd.css" rel="stylesheet" />
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0/katex.min.css">
<script type='text/javascript' src='<%= themeConfig.domain %>/media/scripts/script.js'></script>
<link href="https://cdn.bootcss.com/animate.css/3.5.2/animate.min.css" rel="stylesheet" />
  <script src="https://cdn.bootcss.com/wow/1.1.2/wow.min.js"></script>
  <script src="https://cdn.bootcss.com/highlight.js/9.15.8/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script>wow=new WOW({boxClass:'wow',animateClass:'animated',offset:0,mobile:true,live:true});wow.init();</script>
<% if (site.customConfig.ga) { %>
<script async src="https://www.googletagmanager.com/gtag/js?id=<%= site.customConfig.ga %>"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '<%= site.customConfig.ga %>');
</script>
<% } %>
<script type="text/javascript">
window.onload=getCSS();
</script>

