<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<title><%= siteTitle %></title>	
<link rel="stylesheet" href="<%= themeConfig.domain %>/styles/main.css">
<link href="<%= themeConfig.domain %>/media/scripts/dark.css" rel="alternate stylesheet" type="text/css" title="dark">
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0/katex.min.css">
<script type='text/javascript' src='<%= themeConfig.domain %>/media/scripts/script.js'></script>
<% if (site.customConfig.ga) { %>
<script async src="https://www.googletagmanager.com/gtag/js?id=<%= site.customConfig.ga %>"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '<%= site.customConfig.ga %>');
</script>
<% } %>
<style type="text/css">
header {
    text-align: center;
    padding: 120px 0px 40px 0px;
    background: #515865 center no-repeat;
    font-size: 16px;
    color: #fff;
    background-size: cover;
    background-image:url(<% if (site.customConfig.sy) { %>
			<%= site.customConfig.sy %>
			<% } %>);
}
		</style>
<script>
(function(){
    if(document.cookie.replace(/(?:(?:^|.*;\s*)night\s*\=\s*([^;]*).*$)|^.*$/, "$1") === ''){
<% if (site.customConfig.haks) { %>
        if(new Date().getHours() > <%= site.customConfig.haks %> <% } %> ||<% if (site.customConfig.hajs) { %> new Date().getHours() <  <%= site.customConfig.hajs %> <% } %>){

        document.querySelector('link[title="dark"]').disabled = true;
        document.querySelector('link[title="dark"]').disabled = false;
        document.cookie = "night=1;path=/"
        console.log('夜间模式开启');
        }else{
        document.cookie = "night=0;path=/"
        console.log('夜间模式关闭');
        }
    }else{
        var night = document.cookie.replace(/(?:(?:^|.*;\s*)night\s*\=\s*([^;]*).*$)|^.*$/, "$1") || '0';
        if(night == '0'){
        document.querySelector('link[title="dark"]').disabled = true;
        console.log('夜间模式关闭');
        }else if(night == '1'){
        document.querySelector('link[title="dark"]').disabled = true;
        document.querySelector('link[title="dark"]').disabled = false;
        console.log('夜间模式开启');

        }
    }
})();
</script>