		
 <% posts.forEach(function(post) { %>						
<article class="wow zoomIn post post-index  post-318 type-post status-publish format-standard hentry category-uncategorized tag-40 tag-39">
	
	 <% if (themeConfig.showFeatureImage && post.feature) { %>
	 <a href="<%= post.link %>">
		<div class="posttou" style="background-image:url(<%= post.feature %>)"></div>	
		</a>		
  	 <% } %>
	   
	<div class="entry-content">
		<h1 class="entry-title"><a href="<%= post.link %>" rel="bookmark"><%= post.title %></a></h1>
		<div class="entry-meta">
		<i class="iconfont icon-rili"> <time class="lately-a" datetime="<%= post.date %>" itemprop="datePublished" pubdate=""><%= post.dateFormat %></time></i>
	 
			
		</div>

		<div class="entry-summary">
			<p><%- post.abstract %></p>
			<p class="readmore">
				<a href="<%= post.link %>" class="link-more">Read more</a>
			</p>
		</div><!-- .entry-summary -->
		
	</div><!-- entry-content -->
	
</article><!-- #post-## -->			
		
 <% }); %>
